main {
    padding: 1rem 0rem;
}

footer {
    background-color: rgb(18, 78, 87);
}

main > section {
    margin: 1rem 0;
}

main > section:first {
    margin-top: 2rem;
}

main > section:last-child {
    margin-bottom: 2rem;
}

#banner {
    background-image: url("../ba1.jpg");
    background-position: 50% 40%;
    width: 100%;
    height: 450px;
}

.logo {
    margin: 10px;
    width: 120px;
    height: 70px;
}

.cardText {
    font-size: 20px;
}

.card-img {
    height: 550px;
    width: 100%;
    filter: brightness(50%);
}

.r-card {
    width: 18rem;
    margin-bottom: 15px;
}

.buttonColor,
.r-cardsPerfiles {
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
}

.article {
    background-color: rgb(73, 72, 72);
}

.text-form {
    color: grey;
    font-size: 14px;
}
